
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Creaed At</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Product 1</td>
            <td>500,000đ</td>
            <td>25/12/2022</td>
            <td> <img src=" /css/anh2.jpg" width="150px" alt="anh1"></td>
            <td>
            <button style="border: none;
                    border-radius: 5px;
                    background-color: #86b7fe;">
                View
            </button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Product 2</td>
            <td>500,000đ</td>
            <td>25/12/2022</td>
            <td> <img src=" /css/anh2.jpg" width="150px" alt="anh1"></td>
            <td>
                <button style="border: none;
                    border-radius: 5px;
                    background-color: #86b7fe;">
                    View
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Product 3</td>
            <td>500,000đ</td>
            <td>25/12/2022</td>
            <td> <img src=" /css/anh2.jpg" width="150px" alt="anh1"></td>
            <td>
                <button style="border: none;
                    border-radius: 5px;
                    background-color: #86b7fe;">
                    View
                </button>
            </td>
        </tr>
        
    </tbody>
</table>